.profile-container{
    width: 100%;
    height: 100%;
    background-color: rgb(13, 13, 13);
}
.p-featured{
    border: solid 2px black;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(204, 235, 255, 0.082);
    width: auto;
    height: 30%;
    color: black;
    align-self: flex-start;
    display: flex;
    align-items: center;
}
.p-starimg{
    margin-left: 20px;
    margin-right: 35px;
}
.p-featureditems{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.p-h3{
    margin-top: 0;
    margin-bottom: 10px;
}
.p-f_name{
    font-size: 30px;
    color: aliceblue;
}
.p-f_item{
    padding: 5px;
    color: aliceblue;
    border: 2px solid black;
    font-size: 25px;
}