#root {
  width: 100%;
  margin: 0 auto;
  justify-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7vh);
  margin-top: 7vh;
  max-height: fit-content;
  padding-bottom: .5em;
}