.sidebar{
    border-bottom: solid 3px rgba(255, 230, 0, 0.362);
    padding: 10px;
    padding-left: 30px;
    top: 0;
    position: fixed;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: rgba(126, 195, 255, 0.701);
    display: flex;
    flex-direction: row;
}
h2{
    margin-right: 20px;
}
h2:hover{
    color: black;
    cursor: pointer;
}