table {
    border-collapse: collapse;
    border-spacing: 0 4px;
    width: 100%;
  }
  
  th{
    padding-right: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-radius: 3px;
  }
  th:hover{
    background-color: rgb(14, 175, 255);
  }
  td{
    padding-right: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-radius: 3px;
  }
  tr{
    border-bottom: 1px solid rgba(98, 197, 255, 0.705);
    padding: 50px;
  }
.table_header{
    background-color: rgb(14, 175, 255);
}
.t-table{
  overflow-y: auto;
  height: auto;
  width: 95%;
}
.row .row-name:hover{
  background-color: rgb(14, 175, 255);
}
